<html lang="en">
<%- include('./partials/header.ejs')%>
<body>
    <div class="div-content">

        
        <h2>All Questions</h2>
        <br>
        <% if (questions.length > 0) { %>
            <% questions.forEach(question => { %>
                <% if (question.approved == true) { %>
                <a href="/questions/<%=question.name%>">

                    
                <!-- <h3 class="title"><%= question.name %></h3> -->
                <p class="snippet"><%= question.name %></p>
                </a>
                <% } %>
                <!-- <a href="/questions/<%=question.name%>"> -->
                    
                <!-- <h3 class="title"><%= question.name %></h3> -->
                <!-- <p class="snippet"><%= question.name %> : By Name</p> -->
                <!-- </a> -->
                <%}) %>
                <% } %>
            <!-- }) -->


        <!-- } -->

    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>